/* style css */
/* ---------------------------------------------- */

:root
{
    --primary-color: #87abd3;
    --secondary-color: #634b3e;
    --color-text-1 : #383838;
}

body { 
    font-family: 'Roboto', sans-serif; 
}

 /* Header */
 header {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--color-text-1);
}

/* Main */
.category {
    background-color: var(--secondary-color);
    color: var(--color-text-1);
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}



.card {
    margin-bottom: 1.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card-header {
    background-color: var(--secondary-color);
}

.card-body {
    padding: 1.25rem;
}


.img-card {
    width: 100px;
    height: 100px;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
}

.user-avatar {
    width: 3rem;
    height: 3rem;
    margin : 0 auto;
    
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--color-text-1);
}